@use "../abstracts/functions" as f;
@use "../abstracts/variables" as var;

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: f.navbarHeight();
  padding: var.$default-section-padding;
  min-height: calc(100svh - f.navbarHeight());

  &__heading {
    margin-bottom: f.transformPx(40);
    max-width: 14ch;
  }
}
