@use "../abstracts/functions" as f;
@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.offer-products {
  background-color: var.$c-body;

  & .wrapper {
    gap: f.transformPx(24);
  }

  &__title {
    color: var.$c-white;
  }

  &__products-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: f.transformPx(24);
    margin-top: f.transformPx(24);
  }

  @include mix.handleSize(lg) {
    & {
      gap: 0;
    }

    &__title {
      margin-bottom: f.transformPx(24);
    }
  }
}

// 4, 617, 23, false, 18
