@use "sass:math";

@function transformPx($px, $unit: rem) {
  $calculatedRem: calc($px / 16);

  @return $calculatedRem + $unit;
}

@function getClamp($px-1, $px-2, $scale: calc($px-2 / 14.4) + svw, $unit: rem) {
  $firstValue: transformPx($px-1, $unit);
  $secondValue: transformPx($px-2, $unit);
  $clamped: clamp($firstValue, $scale, $secondValue);

  @return $clamped;
}

@function navbarHeight() {
  @return getClamp(72, 152);
}

@function getPercentage($n, $n2) {
  $calculatedValue: calc($n / $n2);

  @return math.percentage($calculatedValue);
}
