<div class="eco-friendly-wrapper">
  <div class="wrapper">
    <section class="eco-friendly">
      <load
        src="../components/annotation.html"
        text="Eco friendly"
        color="primary"
      />

      <h2 class="eco-friendly__title heading--2">From our Farm to your Home</h2>

      <dl class="eco-friendly__list">
        <dt class="eco-friendly__list-title subtitle subtitle--3">
          Choose your products
        </dt>
        <dd class="eco-friendly__list-desc">
          In our listing, we have several collections of organic products. This
          is the place where you need to choose the product you want.
        </dd>

        <dt class="eco-friendly__list-title subtitle subtitle--3">
          Farmers will produce it
        </dt>
        <dd class="eco-friendly__list-desc">
          The Product that you ordered will be verified that we have or not if
          have we will start to move on with the next step.
        </dd>

        <dt class="eco-friendly__list-title subtitle subtitle--3">
          We can delivery too
        </dt>
        <dd class="eco-friendly__list-desc">
          If you are not comfortable going to the nearby market place we also
          will deliver your product to your doorstep.
        </dd>
      </dl>
    </section>
  </div>
</div>
