<section class="list-cards">
  <load
    src="../components/img-card.html"
    link="#"
    alt="Orange juice on a book"
    imgSrc="/img/mobile/list-cards/1-1x.webp"
    srcset="/img/mobile/list-cards/1-1x.webp 368w,
            /img/mobile/list-cards/1-2x.webp 736w,
            /img/desktop/list-cards/1-1x.webp 432w,
            /img/desktop/list-cards/1-2x.webp 864w,"
    sizes="((max-width: 62em) and (min-resolution: 2x)) 736w,
            ((min-width: 62em) and (min-resolution: 2x)) 864w,
            (min-width: 62em) 432w,
            100vw"
    text="Fruit juice"
  />
  <load
    src="../components/img-card.html"
    link="#"
    alt="Green aesthetic leafs in combination with some lemon and cucumber"
    srcset="/img/mobile/list-cards/2-1x.webp 368w,
            /img/mobile/list-cards/2-2x.webp 736w,
            /img/desktop/list-cards/2-1x.webp 432w,
            /img/desktop/list-cards/2-2x.webp 864w,"
    sizes="((max-width: 62em) and (min-resolution: 2x)) 736w,
            ((min-width: 62em) and (min-resolution: 2x)) 864w,
            (min-width: 62em) 432w,
            100vw"
    text="Organic food"
  />
  <load
    src="../components/img-card.html"
    link="#"
    alt="Delicious cookies with chocolates on top and some marshmallows"
    srcset="/img/mobile/list-cards/3-1x.webp 368w,
            /img/mobile/list-cards/3-2x.webp 736w,
            /img/desktop/list-cards/3-1x.webp 432w,
            /img/desktop/list-cards/3-2x.webp 864w,"
    sizes="((max-width: 62em) and (min-resolution: 2x)) 736w,
            ((min-width: 62em) and (min-resolution: 2x)) 864w,
            (min-width: 62em) 432w,
            100vw"
    text="Nuts cookies"
  />
</section>
