<section class="news">
  <div class="section-layout-1 wrapper">
    <load src="../components/annotation.html" text="News" color="primary" />
    <h2 class="news__title heading--2">
      Discover content about organic products
    </h2>
    <load
      src="../components/link-button.html"
      text="More news"
      color="transparent"
      class="section-layout-1__btn news__btn"
    />

    <div class="news__wrapper">
      <load
        src="../components/news.html"
        datetime="02-14"
        day="14"
        month="Feb"
        author="Kristina Castle"
        title="Everything you need to know about organic"
        text="Organic farming is the only way that you still can experience the real world."
        link="#"
        box-classes="news__bg news__bg--1"
        imgSrc="/img/mobile/news/1-1x.webp"
        srcset="/img/mobile/news/1-1x.webp 368w,
              /img/mobile/news/1-2x.webp 736w,
              /img/desktop/news/1-1x.webp 665w,
              /img/desktop/news/1-2x.webp 1330w"
        sizes="((max-width: 62em) and (min-resolution: 2x)) 736w,
              ((min-width: 62em) and (min-resolution: 2x)) 1330w,
              (min-width: 62em) 665w,
              100vw"
      />
      <load
        src="../components/news.html"
        datetime="09-24"
        day="24"
        month="Sep"
        author="Alex Louis"
        title="Organic Fruits: Surprising Benefits and Facts"
        text="The world of nature has grown on the principles of health, ecology, and care."
        link="#"
        box-classes="news__bg news__bg--2"
        imgSrc="/img/mobile/news/2-1x.webp"
        srcset="/img/mobile/news/2-1x.webp 368w,
      /img/mobile/news/2-2x.webp 736w,
      /img/desktop/news/2-1x.webp 665w,
      /img/desktop/news/2-2x.webp 1330w"
        sizes="((max-width: 62em) and (min-resolution: 2x)) 736w,
      ((min-width: 62em) and (min-resolution: 2x)) 1330w,
      (min-width: 62em) 665w,
      100vw"
      />
    </div>
  </div>
</section>
