<div class="wrapper">
  <section class="newsletter">
    <h2 class="newsletter__title heading--2">
      <span class="d-block">Subscribe our</span> Newsletter
    </h2>
    <form action="" class="newsletter__form">
      <label for="email" class="sr-only">Email address</label>
      <input
        id="email"
        name="email"
        type="email"
        placeholder="Enter your email address"
        class="newsletter__email"
        pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
      />
      <load
        src="../components/button.html"
        text="Subscribe"
        color="body"
        type="submit"
        class="newsletter__submit-btn"
      />
    </form>
  </section>
</div>
