<div class="wrapper">
  <section class="offers-box">
    <load
      src="../components/offer.html"
      href="#"
      mod="1"
      annotation-text="Natural!!"
      annotation-color="white"
      title-color="white"
      title-span="Get garden"
      title-text="fresh fruits"
    />

    <load
      src="../components/offer.html"
      href="#"
      mod="2"
      annotation-text="Offer!!"
      annotation-color="primary"
      title-span="Get 10% off"
      title-text="on Vegetables"
    />
  </section>
</div>
