<section class="offer-products">
  <div class="section-layout-1 wrapper">
    <load
      src="../components/annotation.html"
      text="Offer products"
      color="primary"
    />
    <h2 class="offer-products__title heading--2">We Offer Organic for You</h2>
    <load
      src="../components/link-button.html"
      text="View all products"
      color="orange"
      class="section-layout-1__btn offer-products__btn"
    />

    <div class="offer-products__products-box"></div>
  </div>
</section>
