<section class="testimonial">
  <div class="wrapper">
    <img
      src="/img/desktop/testimonial/bg-left-1x.webp"
      alt=""
      srcset="
        /img/desktop/testimonial/bg-left-1x.webp 1x,
        /img/desktop/testimonial/bg-left-2x.webp 2x
      "
      class="testimonial__bg testimonial__bg--left"
    />
    <img
      src="/img/desktop/testimonial/bg-right-1x.webp"
      alt=""
      srcset="
        /img/desktop/testimonial/bg-right-1x.webp 1x,
        /img/desktop/testimonial/bg-right-2x.webp 2x
      "
      class="testimonial__bg testimonial__bg--right"
    />
    <load
      src="../components/annotation.html"
      text="testimonial"
      color="primary"
    />
    <h2 class="testimonial__title heading--2">What our customer saying?</h2>
    <img
      src="/img/mobile/testimonial/person-1x.webp"
      alt="Sara Taylor's face looking ahead"
      srcset="
        /img/mobile/testimonial/person-1x.webp 1x,
        /img/mobile/testimonial/person-2x.webp 2x
      "
      class="testimonial__img"
    />

    <div class="testimonial__rating"></div>

    <blockquote class="testimonial__quote">
      <p class="testimonial__desc">
        The quality of organic produce is extremely high, the service is second
        to none and the taste of the food takes me back to my childhood when we
        were growing our own.
      </p>
    </blockquote>

    <p>
      <span class="subtitle subtitle--3 break-after">Sara Taylor</span>
      <span class="label label--1">Consumer</span>
    </p>
  </div>
</section>
