<ul class="socials {=$class}">
  <li class="socials__item">
    <a href="#" class="socials__link">
      <svg class="socials__icon">
        <use xlink:href="/img/sprite.svg#FB"></use>
      </svg>
    </a>
  </li>

  <li class="socials__item">
    <a href="#" class="socials__link">
      <svg class="socials__icon">
        <use xlink:href="/img/sprite.svg#TW"></use>
      </svg>
    </a>
  </li>

  <li class="socials__item">
    <a href="#" class="socials__link">
      <svg class="socials__icon">
        <use xlink:href="/img/sprite.svg#INST"></use>
      </svg>
    </a>
  </li>

  <li class="socials__item">
    <a href="#" class="socials__link">
      <svg class="socials__icon">
        <use xlink:href="/img/sprite.svg#TW"></use>
      </svg>
    </a>
  </li>
</ul>
