@use "../abstracts/variables" as var;
@use "../abstracts/functions" as f;

:root {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

body {
  color: var.$c-body;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
}
